@import 'tailwindcss';

body {
	background: #03091d;
	color: #ededed;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

[data-sonner-toaster][data-sonner-theme='dark'] {
	--normal-bg: #212847e3 !important;
	--normal-border: #ffffff38 !important;
}
